.body{
    background-color:rgb(229, 169, 147);
}
.container{
    text-align: center;
    margin-top: 50px;
}
.board{
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap:5px;
    margin:20px auto;
}
.cell{
    justify-content: center;
    align-items: center;
    display: flex;
    background-color:rgb(173, 136, 190);
    color: black;
    border:1px solid #ccc;
    width:100px;
    height: 100px;
}

.button {
    font-size: 20px;
    padding: 15px ;
    border-radius: 20px;
    margin-top: 20px;
}